
.portifolio-container
    display: flex
    flex-direction: row !important
    flex-wrap: wrap 
    flex: 1

.card-list-item
    display flex
    width: 25%
    justify-content: center
    margin-bottom: 30px
    margin-left: 0px


   


@media (max-width: 800px)
  .card-list-item
    width 100%

@media (max-width: 960px)
  .card-list-item
    width 50%    

@media (max-width: 1326px)
  .card-list-item
    width 33%