@import config
@import functions 
@import helpers
@import fonts
@import reset


html
	width 100%
	height 100%
	

*
	outline none
	


body
	font-size 12px
	margin: 0
	padding: 0
	background grey-light-2
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color #3D495B
	background-color: #FFFFFF

		

#app
	width 100%
	height 100%
	align-items center
	justify-content center


	

rotation(n)
	transform: rotate(n);

h1
h2
h3
h4
h5
h6
	font-weight 500

.home
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


