.comp-Header
    display: flex
    align-items: center
    height 100%
    .logo
        display: flex
        font-size: 20px
        flex 1
        user-select none
        font-family: Calibri
        color: color21
    .Nav
        display flex
        .Nav-page
            cursor pointer
            color: color21
            font-size: 20px
            font-family: Calibri
        .Nav-page:not(:first-child)   
            margin-left: 51px 
        .Selected
            color color22        
    .btn-contato
        display flex
        width: 125px
        height 31px      
        margin-left: 51px   
        font-size: 17px
        cursor pointer
        user-select none
        border-radius: 15px
        color: color21
        background-color: color22
        align-items: center
        justify-content: center